<!DOCTYPE html>
html.no-js(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")

		title Hotel California

		link(rel="stylesheet", type="text/css", href="css/foundation.min.css")
		link(rel="stylesheet", type="text/css", href="css/custom.css")

	body
		script(type="text/javascript", href="js/foundation.min.js")
		script(type="text/javascript", href="app.js")

		header.header
			h1.main-header(style="font-variant: small-caps;letter-spacing: 0.5em;") HOTEL CALIFORNIA
			h2(style="font-variant: small-caps;letter-spacing: 0.5em;color:#777;font-size: 1.5em;") BLACK ROCK CITY, EST. 2013

			ul.header-subnav
				li
					a.is-active(href="#about") About
				li
					a(href="#history") Purpose
				li
					a(href="#art") Art
				hr

		.row.bg
			a#about
			.large-6.medium-12.small-12.columns
				h2 About Us
				p We are Hotel California, a group of dreamers and doers from the Bay Area and beyond.

				p To join our camp, send us a message #[a(href="https://www.facebook.com/HotelCaliforniaBM/") here].

			.large-6.medium-12.small-12.columns
				img(src="img/group-2016.png")
				small Group photo, 2016

		.row.bg
			.large-12.medium-12.small-12.columns
				hr

		.row.bg
			.large-6.medium-12.small-12.columns
				img(src="img/frontage-2017.jpg")
				small Frontage, 2017
			a#purpose
			.large-6.medium-12.small-12.columns
				h2 Purpose
				p Hotel California exists to propagate environmentally conscious technology, art, and living. We prototype systems, open source the designs, and educate people on how to build and deploy these systems themselves. Our recurring test bed is a Burning Man theme camp where each year we run an eco-hotel for a week.

		.row.bg
			.large-12.medium-12.small-12.columns
				hr

		.row.bg
			a#art
			.large-6.medium-12.small-12.columns
				h2 Art
				p See more on #[a(href="https://www.facebook.com/HotelCaliforniaBM/") Facebook] or #[a(href="https://www.instagram.com/hotelcaliforniabm/") Instagram].
			.large-6.medium-12.small-12.columns
				img(src="img/logo.png")
				small Logo
			.large-6.medium-12.small-12.columns
				img(src="img/drawing-2017.jpg")
				small Early design drawing of "duxel structure" in use
			.large-6.medium-12.small-12.columns
				img(src="img/airpusher-party.jpg")
				small Night-time party with collaborators Airpusher
			.large-6.medium-12.small-12.columns
				img(src="img/ikea-2017.jpg")
				small Duxel structure assembly instructions, 2017
			.large-6.medium-12.small-12.columns
				img(src="img/dust-costume.jpg")
				small Dust costume, 2017
			.large-6.medium-12.small-12.columns
				img(src="img/glade-frontage-2017.jpg")
				small Frontage, 2017
			.large-6.medium-12.small-12.columns
				img(src="img/layout-2017.jpg")
				small Layout, 2017
			.large-6.medium-12.small-12.columns
				img(src="img/frontage-2016.jpg")
				small Sign, 2016
			.large-6.medium-12.small-12.columns
				img(src="img/backbend-2016.jpg")
				small Having fun, 2016

		.row.bg
			.large-12.medium-12.small-12.columns
				hr
				small "Hotel California" is a fiscally sponsored project of #[a(href="https://marinlink.org/") MarinLink], a California non profit corporation exempt from federal tax under section 501(c)(3) of the Internal Revenue Service Code. #20-0879422
